In [1]:
d = { 'Name' : "Rukham", 
     "Semester" : 4, "CGPA" : 3.47
    }

In [2]:
d.keys()

dict_keys(['Name', 'Semester', 'CGPA'])

In [3]:
d.values()

dict_values(['Rukham', 4, 3.47])

In [4]:
d['Name'] = "Absar"

In [5]:
d

{'Name': 'Absar', 'Semester': 4, 'CGPA': 3.47}

In [6]:
d.items()

dict_items([('Name', 'Absar'), ('Semester', 4), ('CGPA', 3.47)])

In [7]:
d['city'] = 'FSD'

In [8]:
d

{'Name': 'Absar', 'Semester': 4, 'CGPA': 3.47, 'city': 'FSD'}

In [9]:
d.pop("Name")

'Absar'

In [22]:
d = { 'Name' : ['Rukham','Absar','Urwa','Preehan','Ahmed'], "Semester" :[4,4,4,2,6], "CGPA" : [3.4,3.8,2.9,3.2,3.1]}

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame(d)

In [25]:
df

      Name  Semester  CGPA
0   Rukham         4   3.4
1    Absar         4   3.8
2     Urwa         4   2.9
3  Preehan         2   3.2
4    Ahmed         6   3.1

In [26]:
dfi =pd.DataFrame(d,index=d['Name'])

In [27]:
dfi

            Name  Semester  CGPA
Rukham    Rukham         4   3.4
Absar      Absar         4   3.8
Urwa        Urwa         4   2.9
Preehan  Preehan         2   3.2
Ahmed      Ahmed         6   3.1

In [28]:
dfi.drop('Name',axis=1)

         Semester  CGPA
Rukham          4   3.4
Absar           4   3.8
Urwa            4   2.9
Preehan         2   3.2
Ahmed           6   3.1

In [29]:
dic=dict(dfi)

In [30]:
dic

{'Name': Rukham      Rukham
 Absar        Absar
 Urwa          Urwa
 Preehan    Preehan
 Ahmed        Ahmed
 Name: Name, dtype: object,
 'Semester': Rukham     4
 Absar      4
 Urwa       4
 Preehan    2
 Ahmed      6
 Name: Semester, dtype: int64,
 'CGPA': Rukham     3.4
 Absar      3.8
 Urwa       2.9
 Preehan    3.2
 Ahmed      3.1
 Name: CGPA, dtype: float64}

In [46]:
per =[]
for i in d['CGPA']:
    if i>3.5:
        per.append("A")
    elif i>3:
         per.append("B")
    else:
         per.append("C")

In [47]:
dfi['Category']=per

In [48]:
dfi

            Name  Semester  CGPA Category
Rukham    Rukham         4   3.4        B
Absar      Absar         4   3.8        A
Urwa        Urwa         4   2.9        C
Preehan  Preehan         2   3.2        B
Ahmed      Ahmed         6   3.1        B